@import '../../styles/var';

@mixin aspect-ratio($width, $height) {
  position: relative;
  max-width: 100%;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}

.product {
  background: $main-colour;
  margin: 10px 0;

  &__name {
    text-align: center;
    padding: 10px 0;
  }

  &__image {
    @include aspect-ratio(9, 6)
  }

  &__description {
    margin: 20px;
    height: 100px;
    position: relative;
    &__price {
      font-weight: bold;
      position: absolute;
      bottom: 0;
    }
  }
}